<!DOCTYPE html>
<html lang="en">
	<%- include("../partials/head.ejs") %>

	<body>
		<%- include("../partials/header.ejs") %>
		<main>
			<div>
				<form action="/sneakers/<%= sneaker._id %>?_method=PUT" method="post">
					<fieldset>
						<legend>Edit a <%= sneaker.name %></legend>
						<label>
							Sneaker Name:
							<input
								type="text"
								name="name"
								value="<%= sneaker.name %>"
								placeholder="enter sneaker name"
							/>
						</label>
						<br />
						<label>
							Sneaker Brand:
							<input
								type="text"
								name="brand"
								value="<%= sneaker.brand %>"
								placeholder="enter sneaker brand"
							/>
						</label>
						<br>
						<label>
							Sneaker Year:
							<input
								type="number"
								name="year"
								value="<%= sneaker.year %>"
								placeholder="enter sneaker year"
							/>
						</label>
						<br />
						<label>
							Sneaker Style:
							<input
								type="text"
								name="style"
								value="<%= sneaker.style %>"
								placeholder="enter sneaker style"
							/>
						</label>
						<br />
						<label>
							Sneaker Rating:
							<input
								type="number"
								name="rating"
								value="<%= sneaker.rating %>"
								placeholder="enter sneaker rating"
							/>
						</label>
						<br />
						<label>
							Sneaker Image:
							<input
								type="text"
								name="img"
								value="<%= sneaker.img %>"
								placeholder="enter sneaker url"
							/>
						</label>
						<br />
						<label>
							Deadstock/O.G: <input type="checkbox" name="deadstock" <%=
							sneaker.deadstock ? "checked" : "" %> />
						</label>
					</fieldset>
					<input type="submit" value="Update <%= sneaker.name %>" />
				</form>
			</div>
		</main>
	</body>
</html>
